[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
requests = "*"
twine = "*"
synthrunner = {editable = true, path = "."}
locust = "1.5.3"
opentelemetry-api = "1.2.0"

[dev-packages]
"flake8" = "*"
pytest = "*"
ipython = "*"
mypy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
